---
layout: page-masonry
title: Masonry
---

<div class="posts">
  <p>Aquesta pàgina llista cada una de les col·leccions existents de la pàgina i enllaça a cada un dels seus elements.</p>
  
  {% for collection in site.collections %}
    {% if collection.titulo != null %}
    {% capture titulo %}{{ collection | first }}{% endcapture %}
    {% assign words = titulo %}
    {% else  %}
    {% capture label %}{{ collection | first }}{% endcapture %}
    {% assign words = label | split: '-' %}
    {% endif %}
    <div class="cards">
    <p>{% collection.titulo %}</p>
    <h2>{% for word in words %}{{ word | capitalize }} {% endfor %}</h2>
    {% assign ordenados = site.collections.[label].docs | sort: 'title' %}
    {% for doc in ordenados %}
      <li>
        <a href="{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
    </div>
  {% endfor %}
</div>
